@import "docs.css";
body {
    padding-top: 41px;
    min-width: 900px;
}
.sidebar-nav {
    padding: 9px 0;
}
.protrols {
    height: 200px;
    background-color: #ffffff;
    overflow-y: scroll;
}

.line {
    width: 2px;
    background: linear-gradient(#FFFFFF, #CCCCCC, #CCCCCC, #FFFFFF) repeat scroll 0 0 transparent;
    height: 200px;
    margin: 0px auto;
}